h1
  {
     color:white;
  }
a
  {
     text-decoration: none;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     padding-right: 50px;
     color: 27374D;
  }

a:hover
  {
     color:aliceblue;
  }

body
{
    background-color:black;
}

.logo
{
 width: 20%;
 height: 50px;
 
 float: center;
}
.header
{
 width: 100%;
 height: 50px;
 background-color: 9DB2BF;
 float: left;
}
p {
  font-size: 15px;
}
img{
  float: left;
}
table,tr,td,th
{
  border: 1px solid; color: 27374D;
  border-collapse:collapse; 
}

td
{
  padding: 20px;
}

tr
{
  background-color: 9DB2BF;
}

th
{
  padding: 1px;
  background-color: 9DB2BF;
  color: D03001C;
}

tr:nth-child(even)
{
  background-color: 526D82;
}
tr:hover
{  
  background-color: DDE6ED;
}
table
{
  width: 90%;height: 500px;
}
p
{
  font-family:'Courier New', Courier, monospace;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 31%;
  max-width: 31%;
  padding: 15px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
body, html {
  height: 100%;
}

.footer
{
 width: 100%;
 height: 50px;
 background-color: rgb(10, 10, 95);
 float: left;
}
.box1
{
 width: 100%;
 height: 150px;
 background-color: rgb(10, 10, 95);
 float: left;
}
